<%= form_with(model: payment_method) do |form| %>
  <div class="btn-group gap-2 d-flex">
    <%= link_to 'Back', payment_methods_path, class: 'btn btn-outline-secondary' %>
    <% if !form.object.new_record? %>
      <%= link_to 'View', form.object, class: 'btn btn-outline-info' %>
    <% end %>
    <%= form.submit('Save', class: 'btn btn-outline-primary') %>
  </div>
  <br/>
  <% if payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>
      <ul>
        <% payment_method.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-check">
    <%= form.check_box :active, class: 'form-check-input' %>
    <%= form.label :active, class: 'form-check-label' %>
  </div>
<% end %>
