<h1>Payment Methods</h1>
<br/>
<div class="d-grid gap-2">
  <%= link_to(new_payment_method_path,
              class: 'btn btn-primary text-light',
              'data-bs-toggle': 'tooltip',
              'data-bs-placement': 'top',
              'title': 'Create new payment method') do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
</div>
<br/>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-9"><label><%= PaymentMethod.human_attribute_name :title %></label></th>
        <th class="col-md-1"><label><%= PaymentMethod.human_attribute_name :active %></label></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody id="items">
      <% @payment_methods.each do |payment_method| %>
        <tr>
          <td><%= payment_method.title if payment_method.title %></td>
          <td>
          <%= check_box_tag :active, payment_method.active, payment_method.active, class: 'form-check-input', disabled: true %>
          </td>
          <td>
            <div class="btn-group gap-2 d-flex">
              <%= link_to(payment_method,
                          class: 'btn btn-outline-info',
                          'data-bs-toggle': 'tooltip',
                          'data-bs-placement': 'top',
                          'title': 'View payment method') do %>
                <i class="fa-solid fa-eye"></i>
              <% end %>
              <%= link_to(edit_payment_method_path(payment_method),
                          class: 'btn btn-outline-warning',
                          'data-bs-toggle': 'tooltip',
                          'data-bs-placement': 'top',
                          'title': 'Edit payment method') do %>
                <i class="fa-solid fa-pencil"></i>
              <% end %>
              <%= link_to(payment_method,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-outline-danger',
                          'data-bs-toggle': 'tooltip',
                          'data-bs-placement': 'top',
                          'title': 'Delete payment method') do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br/>
<br/>
<br/>
