<h1>Viewing Payment Method</h1>
<br/>
<div class="btn-group gap-2 d-flex">
  <%= link_to(payment_methods_path, class: 'btn btn-outline-secondary') do %>
    <i class="fa-solid fa-angle-left"></i>
  <% end %>
  <%= link_to(edit_payment_method_path(@payment_method), class: 'btn btn-outline-warning') do %>
    <i class="fa-solid fa-pencil"></i>
  <% end %>
  <%= link_to(@payment_method, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger') do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
</div>
<br/>
<div class="card">
  <div class="card-body">
    <div class="card-text bg-transparent">
      <%= text_field_tag :title, @payment_method.title, class: 'form-control' %>
      <br/>
      <div class="form-check">
        <%= check_box_tag :active, @payment_method.active, @payment_method.active, class: 'form-check-input', disabled: true %>
        <label class="form-check-label">
          <%= PaymentMethod.human_attribute_name :active %>
        </label>
      </div>
    </div>
  </div>
</div>
