<%= form_with(model: request) do |form| %>
  <div class="btn-group gap-2 d-flex">
    <%= link_to(requests_path, class: 'btn btn-outline-secondary') do %>
      <i class="fa-solid fa-angle-left"></i>
    <% end %>
    <% if !form.object.new_record? %>
      <%= link_to(form.object, class: 'btn btn-outline-info') do %>
        <i class="fa-solid fa-eye"></i>
      <% end %>
    <% end %>
    <%= form.button(class: 'btn btn-outline-primary') do %>
      <i class="fa-solid fa-floppy-disk"></i>
    <% end %>
  </div>
  <br/>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col">
          <div class="field">
            <% unless form.object.new_record? %>
              <%= form.hidden_field :id %>
            <% end %>
            <strong><%= form.label :identifier %></strong>
            <%= form.text_field :identifier,
                                class: 'form-control',
                                disabled: true,
                                style: "text-transform:uppercase",
                                placeholder: 'yyyymmddnnx',
                                'data-bs-toggle': 'tooltip',
                                'data-bs-placement': 'bottom',
                                'data-bs-html': true,
                                'title': '
                                <p>
                                <b>You should not edit this</b><br>
                                YYYY: year<br>
                                MM: month<br>
                                DD: day<br>
                                NN: initials<br>
                                X: counter for how many requests you\'ve made today
                                </p>' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <% if form.object.new_record? %>
              <%= form.hidden_field :account_id, value: current_account.id %>
            <% end %>
            <strong><%= form.label "Requested by" %></strong>
            <%= form.select(:account_id,
              options_for_select(Account.all.collect {|u| [u, u.id]},
              (form.object.new_record? ? current_account.id : form.object.account_id)),
              {include_blank: true},
              {class: 'form-select', disabled: true})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :requested_for_id %></strong>
            <%= form.select(:requested_for_id,
                            Account.all.collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select'})%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <div class="form-check form-switch">
              <%= form.check_box :use_requested_for, class: 'form-check-input' %>
              <%= form.label :use_requested_for, class: 'form-check-label' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :project_id %></strong>
            <%= form.select(:project_id,
                            Project.where(active: true).order(identifier: :asc, title: :asc).collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select', id: 'project'})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :work_breakdown_structure %></strong>
            <%= form.text_field :work_breakdown_structure, class: 'form-select', list: 'wbs', autocomplete: 'off' %>
            <datalist id="wbs">
            </datalist>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :vendor %></strong>
            <%= form.text_field :vendor, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :order_number %></strong>
            <%= form.text_field :order_number, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :payment_method_id %></strong>
            <%= form.select(:payment_method_id,
                            PaymentMethod.where(active: true).collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select'})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :shipping_charges_paid_to %></strong>
            <%= form.select :shipping_charges_paid_to,
                            options_from_collection_for_select(shipping_charges, :first, :last, form.object.shipping_charges_paid_to),
                            {},
                            {class: 'form-control'}  %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :reason_for_rejection %></strong>
            <%= form.text_area :reason_for_rejection, class: 'form-control', rows: 1 %>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :sales_tax %></strong>
            <%= form.number_field :sales_tax, step: 0.01, min: 0.00, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :import_tax %></strong>
            <%= form.number_field :import_tax, step: 0.01, min: 0.00, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :shipping_cost %></strong>
            <%= form.number_field :shipping_cost, step: 0.01, min: 0.00, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :surcharge %></strong>
            <%= form.number_field :surcharge, step: 0.01, min: 0.00, class: 'form-control' %>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col">
          <% if current_account.in_group?('approver') %>
            <div class="field">
              <strong><%= form.label :approved_by_id %></strong>
              <%= form.select(:approved_by_id,
                              options_from_collection_for_select([current_account], :id, :to_s, form.object.approved_by_id),
                              {include_blank: true},
                              {class: 'form-select', disabled: false})%>
            </div>
          <% else %>
            <div class="field">
              <strong><%= form.label :approved_by_id %></strong>
              <%= form.select(:approved_by_id,
                              Account.all.collect {|u| [u, u.id]},
                              {include_blank: true},
                              {class: 'form-select', disabled: true})%>
            </div>
          <% end %>

          <div class="row">
            <div class="col">
              <div class="field">
                <strong><%= form.label :status %></strong>
                <%= form.select :status, options_from_collection_for_select(statuses, :first, :last, form.object.status), {}, {class: 'form-control'} %>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col">
              <div class="field">
                <strong><%= form.label :date_ordered %></strong>
                <%= form.date_field :date_ordered, {class: 'form-control'} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="field">
                <strong><%= form.label :notes %></strong>
                <%= form.text_area :notes, class: 'form-control', rows: 4 %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <script>
    function wbs(){
      var project = document.getElementById("project").value;
      // console.log(project)
      $.ajax({
        url: "/work_breakdown_structures",
        method: "GET",
        dataType: "json",
        data: {project_id: project},
        error: function (xhr, status, error) {
          console.error('AJAX Error: ' + status + error);
        },
        success: function (response) {
          // console.log(response);
          var wbs = response;
          $("#wbs").empty();

          $("#wbs").append('<option></option>');
          for(var i=0; i< wbs.length; i++){
            $("#wbs").append('<option value="' + wbs[i]['id'] + '">' + wbs[i]['title'] + '</option>');
          }
        }
      });
    }
    $(document).on("change", "#project", wbs);
    $(document).ready(wbs);
  </script>
</div>
<br/>
<div class="d-grid gap-2">
  <button class="btn btn-outline-primary full-width" type="button" data-bs-toggle="collapse" data-bs-target="#manualEdit" aria-expanded="false" aria-controls="manualEdit">
    Manual Edit
    <i class="fa-solid fa-edit"></i>
  </button>
</div>
<div class="collapse" id="manualEdit">
  <div class="full-width">
    <% if !form.object.new_record? %>
      <div class="row">
        <div class="col">
          <div class="field">
            <strong><%= form.label :created_at %></strong>
            <%= form.date_field :created_at, {class: 'form-control'} %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <div class="field">
          <strong><%= form.label :date_received %></strong>
          <%= form.date_field :date_received, {class: 'form-control'} %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <div class="field">
          <strong><%= form.label :received_by_id %></strong>
          <%= form.select(:received_by_id,
                          Account.all.collect {|u| [u, u.id]},
                          {include_blank: true},
                          {class: 'form-select'})%>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="row">
  <div class="col">
    <div class="field">
      <strong><%= form.label :attachment %></strong>
      <%= form.file_field :attachment, multiple: true, class: 'form-control' %>
    </div>
  </div>
</div>
<br/>
<div class="d-grid gap-2">
  <%= link_to_add_association(form, :items,
                              :"data-association-insertion-node" => "tbody#items",
                              :"data-association-insertion-method" => "append",
                              class: 'btn btn-primary text-light',
                              'data-bs-toggle': 'tooltip',
                              'data-bs-placement': 'top',
                              'title': 'Add item to request') do %>
    <i class="fa-solid fa-cart-plus"></i>
  <% end %>
</div>
<br/>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-3"><%=Item.human_attribute_name :description %></th>
        <th class="col-md-2"><%=Item.human_attribute_name :vendor_reference %></th>
        <th class="col-md-2"><%=Item.human_attribute_name :link %></th>
        <th class="col-md-2"><%=Item.human_attribute_name :quantity %></th>
        <th class="col-md-2"><%=Item.human_attribute_name :price %></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody id="items">
      <%= form.fields_for :items do |item| %>
        <%= render 'item_fields', f: item %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<br/>
<br/>
