<%= form_with(model: request) do |form| %>
  <div class="btn-group gap-2 d-flex">
    <%= link_to 'Back', requests_path, class: 'btn btn-outline-secondary' %>
    <% if !form.object.new_record? %>
      <%= link_to 'View', form.object, class: 'btn btn-outline-info' %>
    <% end %>
    <%= form.submit('Save', class: 'btn btn-outline-primary') %>
  </div>
  <br/>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="field">
            <% if form.object.new_record? %>
              <%= form.hidden_field :account_id, value: current_account.id %>
            <% else %>
              <%= form.hidden_field :account_id, value: form.object.id %>
            <% end %>
            <%= form.label :account_id %>
            <%= form.select(:account_id,
              options_for_select(Account.all.collect {|u| [u, u.id]},
              (form.object.new_record? ? current_account.id : form.object.account_id)),
              {include_blank: true},
              {class: 'form-select', disabled: true})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :requested_by_id %>
            <%= form.select(:requested_by_id,
                            Account.all.collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select'})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :vendor %>
            <%= form.text_field :vendor, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :payment_method_id %>
            <%= form.select(:payment_method_id,
                            PaymentMethod.all.collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select'})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :shipping_charges_paid_to %>
            <%= form.select :shipping_charges_paid_to, options_from_collection_for_select(shipping_charges, :first, :last, form.object.status), {}, {class: 'form-control'}  %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :project_id %>
            <%= form.select(:project_id,
                            Project.all.collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select'})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :work_breakdown_structure_id %>
            <%= form.select(:work_breakdown_structure_id,
                            WorkBreakdownStructure.all.collect {|u| [u, u.id]},
                            {include_blank: true},
                            {class: 'form-select'})%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :order_number %>
            <%= form.text_field :order_number, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :date_ordered %>
            <%= form.date_select :date_ordered, {include_blank: true}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :date_shipped %>
            <%= form.date_select :date_shipped, {include_blank: true}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :date_received %>
            <%= form.date_select :date_received, {include_blank: true}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :shipping_cost %>
            <%= form.number_field :shipping_cost, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :sales_tax %>
            <%= form.number_field :sales_tax, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :import_tax %>
            <%= form.number_field :import_tax, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <% if current_account.in_group?('approver') %>
            <div class="field">
              <%= form.label :approved_by_id %>
              <%= form.select(:approved_by_id,
                              options_from_collection_for_select([current_account], :id, :to_s, form.object.approved_by_id),
                              {include_blank: true},
                              {class: 'form-select', disabled: false})%>
            </div>
            <% else %>
            <div class="field">
              <%= form.label :approved_by_id %>
              <%= form.select(:approved_by_id,
                              Account.all.collect {|u| [u, u.id]},
                              {include_blank: true},
                              {class: 'form-select', disabled: true})%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :status %>
            <%= form.select :status, options_from_collection_for_select(statuses, :first, :last, form.object.status), {}, {class: 'form-control'} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :notes %>
            <%= form.text_area :notes, class: 'form-control', style: 'min-height: 128px' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <%= form.label :reason_for_rejection %>
            <%= form.text_area :reason_for_rejection, class: 'form-control', style: 'min-height: 128px' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <%= link_to_add_association('Add Item', form, :items, :"data-association-insertion-node" => "tbody#items", :"data-association-insertion-method" => "append",  class: 'btn btn-primary text-light') %>
  </div>
  <br/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class=""><%=form.label :description%></th>
        <th class=""><%=form.label :vendor_reference%></th>
        <th class=""><%=form.label :quantity%></th>
        <th class=""><%=form.label :price%></th>
      </tr>
    </thead>
    <tbody id="items">
      <%= form.fields_for :items do |item| %>
        <%= render 'item_fields', f: item %>
      <% end %>
    </tbody>
  </table>
<% end %>
<br/>
<br/>
