<tr class="nested-fields">
  <td>
    <%= f.text_area :description, id: 'em', rows: 1 %>
  </td>
  <td>
    <%= f.text_field :vendor_reference, id: 'em' %>
  </td>
  <td>
    <%= f.text_field :link, id: 'em' %>
  </td>
  <td>
    <%= f.number_field :quantity, step: 1, min: 0, id: 'em' %>
  </td>
  <td>
    <%= f.number_field :price, step: 0.000001, min: 0.00, id: 'em' %>
  </td>
  <td style="text-align: right;">
    <%= link_to_remove_association(f,
                                   class: 'btn btn-outline-danger',
                                   'data-bs-toggle': 'tooltip',
                                   'data-bs-placement': 'top',
                                   'title': 'Delete item') do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
  </td>
</tr>
