<tr class="nested-fields">
  <td>
    <%= f.text_area :description, id: 'em', rows: 1 %>
  </td>
  <td>
    <%= f.text_field :vendor_reference, id: 'em' %>
  </td>
  <td>
    <%= f.number_field :quantity, step: 1, min: 0, id: 'em' %>
  </td>
  <td>
    <%= f.number_field :price, step: 0.01, min: 0.00, id: 'em' %>
  </td>
  <td>
    <%= link_to_remove_association(f, class: 'btn btn-outline-danger btn-sm') do %>
        X
      <% end %>
  </td>
</tr>
