<div class="btn-group gap-2 d-flex">
  <!-- if item is submitted -->
  <% if request.submitted? %>
    <div data-bs-toggle="tooltip"
            title="Submitted on <%=I18n.l request.submitted_at.to_date if request.submitted_at %>">
      <i class="text-success fa-solid fa-envelope fa-lg"></i>
    </div>
  <% else %>
    <div data-bs-toggle="tooltip" title="Draft">
      <i class="fa-solid fa-envelope fa-lg"></i>
    </div>
  <% end %>
  <!-- if item is approved -->
  <% if request.approved? %>
    <div data-bs-toggle="tooltip"
            title="Approved by <%= request.approved_by %> on
             <%=I18n.l request.date_approved.to_date if request.date_approved %>">
      <i class="text-success fa-solid fa-square-check fa-lg"></i>
    </div>
  <% else %>
    <div data-bs-toggle="tooltip" title="Not approved">
      <i class="fa-solid fa-square fa-lg"></i>
    </div>
  <% end %>
  <!-- if item is on hold -->
  <!-- 
    <% if request.on_hold? %>
        <div data-bs-toggle="tooltip" title="On Hold">
            <i class="text-danger fa-solid fa-hand"></i>
        </div>
    <% else %>
        <div data-bs-toggle="tooltip" title="Good to Go">
            <i class="text-success fa-solid fa-thumbs-up"></i>
        </div>
    <% end %>
    -->
  <!-- if item is ordered -->
  <% if request.ordered? %>
    <div data-bs-toggle="tooltip"
            title="Ordered on <%= I18n.l request.date_ordered.to_date if request.date_ordered %>">
      <i class="text-success fa-solid fa-truck-arrow-right fa-lg"></i>
    </div>
  <% else %>
    <div data-bs-toggle="tooltip" title="Not ordered">
      <i class="fa-solid fa-truck-arrow-right fa-lg"></i>
    </div>
  <% end %>
  <!-- if the item is received -->
  <% r = request.received %>
  <% if r[:some] %>
    <div data-bs-toggle="tooltip" data-bs-html=true
         title="Partially received at<br/><%=(I18n.l request.received_at) if request.received_at %>">
      <i class="text-warning fa-solid fa-box-open fa-lg"></i>
    </div>
  <% elsif r[:all] %>
    <div data-bs-toggle="tooltip"
         data-bs-html=true 
         title="Fully received at <br/><%=(I18n.l request.received_at) if request.received_at %>">
      <i class="text-success fa-solid fa-box-open fa-lg"></i>
    </div>
  <% else %>
    <div data-bs-toggle="tooltip" title="Not Received">
      <i class="fa-solid fa-box-open fa-lg"></i>
    </div>
  <% end %>
  <!-- if item has a file attached -->
  <% if request.attachment.attached? %>
    <div data-bs-toggle="tooltip" title="Attached files">
      <i class="text-success fa-solid fa-paperclip fa-lg"></i>
    </div>
  <% else %>
    <div data-bs-toggle="tooltip" title="No attached files">
      <i class="fa-solid fa-paperclip fa-lg"></i>
    </div>
  <% end %>
  <!-- if item is returned -->
  <% b = request.returned %>
  <% if b[:some] %>
    <div data-bs-toggle="tooltip" data-bs-html=true
         title="Partially returned at<br/><%=(I18n.l request.returned_at) if request.returned_at %>">
      <i class="text-warning fa-solid fa-truck-ramp-box fa-lg"></i>
    </div>
  <% elsif b[:all] %>
    <div data-bs-toggle="tooltip" data-bs-html=true
         title="Fully returned at<br/><%=(I18n.l request.returned_at) if request.returned_at %>">
      <i class="text-success fa-solid fa-truck-ramp-box fa-lg"></i>
    </div>
  <% else %>
    <div data-bs-toggle="tooltip" title="Not Returned">
      <i class="fa-solid fa-truck-ramp-box fa-lg"></i>
    </div>
  <% end %>
</div>
