<h1>Requests</h1>
<br/>
<div class="d-grid gap-2">
  <%= link_to(new_request_path,
              class: 'btn btn-primary text-light',
              'data-bs-toggle': 'tooltip',
              'data-bs-placement': 'top',
              'title': 'Create new request') do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
</div>
<br/>
<%= form_with url: requests_path, method: :get do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :query, class: 'form-control', value: params[:query] %>
    <%= form.button(class: 'btn btn-primary',
                  'data-bs-toggle': 'tooltip',
                  'data-bs-placement': 'top',
                  'title': 'Search') do %>
      <i class="fa-solid fa-search"></i>
    <% end %>
  </div>
<% end %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2">
          <label>
            <%= Request.human_attribute_name :identifier %>
          </label>
        </th>
        <th class="col-md-3">
          <label>
            <%= Request.human_attribute_name :vendor %>
          </label>
        </th>
        <th class="col-md-3"><label><%= Request.human_attribute_name :project %></label></th>
        <th class="col-md-3"><label><%= Request.human_attribute_name :work_breakdown_structure %></label></th>
        <th class="col-md-3"><label><%= Request.human_attribute_name :status %></label></th>
        <th class="col-md-2"><label><%= Request.human_attribute_name :total %></label></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody id="items">
      <% @requests.each do |request| %>
        <tr class=<%= request.column_class %>>
          <td><%= request.identifier.upcase if request.identifier %></td>
          <td><%= request.vendor %></td>
          <td><%= request.project %></td>
          <td><%= request.work_breakdown_structure %></td>
          <td>
            <%= render 'status', request: request %>
          </td>
          <td><%= number_to_currency request.total %></td>
          <td>
            <div class="btn-group gap-2 d-flex">
              <%= link_to(request,
                          class: 'btn btn-outline-info',
                          'data-bs-toggle': 'tooltip',
                          'data-bs-placement': 'top',
                          'title': 'View request') do %>
                <i class="fa-solid fa-eye"></i>
              <% end %>
              <%= link_to(edit_request_path(request),
                          class: 'btn btn-outline-warning',
                          'data-bs-toggle': 'tooltip',
                          'data-bs-placement': 'top',
                          'title': 'Edit request') do %>
                <i class="fa-solid fa-pencil"></i>
              <% end %>
              <%= link_to(request,
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: 'btn btn-outline-danger',
                          'data-bs-toggle': 'tooltip',
                          'data-bs-placement': 'top',
                          'title': 'Delete request') do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @requests %>
<br/>
<br/>
<br/>
