<h1>Viewing Request</h1>
<br/>
<div>
  <div class="btn-group gap-2 d-flex">
    <%= link_to(requests_path, class: 'btn btn-outline-secondary') do %>
      <i class="fa-solid fa-angle-left"></i>
    <% end %>
    <%= link_to(edit_request_path(@request), class: 'btn btn-outline-warning') do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <%= link_to(@request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger') do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">

      <div class="row">
        <div class="col">
          <div class="field">
            <strong><label><%= Request.human_attribute_name :identifier %></label></strong>
            <%= text_field_tag :identifier, @request.identifier.upcase, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong><label><%= Request.human_attribute_name :account_id %></label></strong>
            <%= text_field_tag :account_id, @request.account, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :requested_for_id %>
              </label>
            </strong>
            <%= text_field_tag :requested_for_id, @request.requested_for, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :project_id %>
              </label>
            </strong>
            <%= text_field_tag :project_id, @request.project, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :work_breakdown_structure %>
              </label>
            </strong>
            <%= text_field_tag :work_breakdown_structure, @request.work_breakdown_structure, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :notes %>
              </label>
            </strong>
            <%= text_area_tag :notes, @request.notes, disabled: true, class: 'form-control', rows: 1 %>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :vendor %>
              </label>
            </strong>
            <%= text_field_tag :vendor, @request.vendor, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :order_number %>
              </label>
            </strong>
            <%= text_field_tag :order_number, @request.order_number, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :payment_method_id %>
              </label>
            </strong>
            <%= text_field_tag :payment_method_id, @request.payment_method, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :shipping_charges_paid_to %>
              </label>
            </strong>
            <%= text_field_tag :shipping_charges_paid_to, shipping_charges[@request.shipping_charges_paid_to], disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :reason_for_rejection %>
              </label>
            </strong>
            <%= text_area_tag :reason_for_rejection, @request.reason_for_rejection, disabled: true, class: 'form-control', rows: 1 %>
          </div>
        </div>
      </div>

    </div>


    <div class="col-md-3">

      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :sales_tax %>
              </label>
            </strong>
            <%= text_field_tag :sales_tax, (number_to_currency @request.sales_tax), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :import_tax %>
              </label>
            </strong>
            <%= text_field_tag :import_tax, (number_to_currency @request.import_tax), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :shipping_cost %>
              </label>
            </strong>
            <%= text_field_tag :shipping_cost, (number_to_currency @request.shipping_cost), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :surcharge %>
              </label>
            </strong>
            <%= text_field_tag :surcharge, (number_to_currency @request.surcharge), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :subtotal %>
              </label>
            </strong>
            <%= text_field_tag :subtotal, (number_to_currency @request.subtotal), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :total %>
              </label>
            </strong>
            <%= text_field_tag :total, (number_to_currency @request.total), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


    </div>


    <div class="col-md-3">
    
      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :approved_by_id %>
              </label>
            </strong>
            <%= text_field_tag :approved_by_id, @request.approved_by, disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :status %>
              </label>
            </strong>
            <%= text_field_tag :status, statuses[@request.status], disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :date_approved %>
              </label>
            </strong>
            <%= text_field_tag :date_approved, (I18n.l @request.date_approved.to_date if @request.date_approved), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :date_ordered %>
              </label>
            </strong>
            <%= text_field_tag :date_ordered, (I18n.l @request.date_ordered.to_date if @request.date_ordered), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col">
          <div class="field">
            <strong>
              <label>
                <%= Request.human_attribute_name :date_received %>
              </label>
            </strong>
            <%= text_field_tag :date_received, (I18n.l @request.date_received.to_date if @request.date_received), disabled: true, class: 'form-control' %>
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col">
        <div class="field">
          <strong>
            <label>
              <%= Request.human_attribute_name :received_by_id %>
            </label>
          </strong>
          <%= text_field_tag :received_by_id, @request.received_by, disabled: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    </div>

  </div>
  <br/>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1"><label>#</label></th>
          <th class="col-md-4"><label><%= Item.human_attribute_name :description %></label></th>
          <th class="col-md-3"><label><%= Item.human_attribute_name :vendor_reference %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :quantity %></label></th>
          <th class="col-md-3"><label><%= Item.human_attribute_name :price %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :total %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :received_by %></label></th>
          <th class="col-md-1">
            <%= form_for(@request, method: :put) do |form| %>
              <div class="d-grid gap-2">
                <% if @request.received? %>
                    <%= form.hidden_field :status, value:  4 %>
                    <%= form.hidden_field :received, value: false %>
                    <%= form.hidden_field :received_by_id, value: nil %>
                    <%= form.hidden_field :date_received, value: nil %>
                    <%= form.button(class: 'btn btn-outline-secondary',
                                    data: { confirm: 'Are you sure?' },
                                    'data-bs-toggle': 'tooltip',
                                    'data-bs-placement': 'top',
                                    'title': 'Mark all items not received') do %>
                    <i class="fa-solid fa-box-open"></i>
                    <% end %>
                <% else %>
                    <%= form.hidden_field :status, value: 5 %>
                    <%= form.hidden_field :received, value: true %>
                    <%= form.hidden_field :received_by_id, value: current_account.id %>
                    <%= form.hidden_field :date_received, value: DateTime.now %>
                    <%= form.button(class: 'btn btn-outline-secondary',
                                    data: { confirm: 'Are you sure?' },
                                    'data-bs-toggle': 'tooltip',
                                    'data-bs-placement': 'top',
                                    'title': 'Mark all items received') do %>
                        <i class="fa-solid fa-box"></i>
                    <% end %>
                <% end %>
              </div>
            <% end %>
          </th>
        </tr>
      </thead>
      <tbody id="items">
        <% @request.items.each_with_index do |item, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= item.description %>
            </td>
            <td>
              <%= item.vendor_reference %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= number_to_currency(item.price) %>
            </td>
            <td>
              <%= number_to_currency(item.total) %>
            </td>
            <td>
              <% if item.received_by %>
                <%= item.received_by.initials %>
              <% end %>
            </td>
            <td style="text-align: right;">
              <div class="btn-group gap-2 d-flex">
                <%= form_for(item, method: :put) do |form| %>
                  <% if item.received? %>
                    <%= form.hidden_field :received_by_id, value: nil %>
                    <%= form.hidden_field :received_at, value: nil %>
                    <%= form.button(class: 'btn btn-outline-secondary',
                                  data: { confirm: 'Are you sure?' },
                                  'data-bs-toggle': 'tooltip',
                                  'data-bs-placement': 'top',
                                  'title': 'Mark item not received') do %>
                      <i class="fa-solid fa-box-open"></i>
                    <% end %>
                  <% else %>
                    <%= form.hidden_field :received_by_id, value: current_account.id %>
                    <%= form.hidden_field :received_at, value: DateTime.now %>
                    <%= form.button(class: 'btn btn-outline-secondary',
                                    data: { confirm: 'Are you sure?' },
                                    style: 'width: 46px;',
                                    'data-bs-toggle': 'tooltip',
                                    'data-bs-placement': 'top',
                                    'title': 'Mark item received') do %>
                        <i class="fa-solid fa-box"></i>
                    <% end %>
                  <% end %>
                <% end %>
                <% if item.link? %>
                  <%= link_to(item.link,
                              class: 'btn btn-outline-secondary',
                              target: "_blank",
                              'data-bs-toggle': 'tooltip',
                              'data-bs-placement': 'top',
                              'title': 'Open link to item in new tab') do %>
                    <i class="fa-solid fa-link"></i>
                  <% end %>
                <% end %>
              </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% @request.attachment.each do |attachment| %>
    <div id="<%= dom_id attachment %>">
      <div class="row attachment">
        <div class="col">
          <%= link_to attachment.filename, rails_blob_path(attachment, disposition: :attachment) %>
        </div>
        <div class="col" style="text-align: right">
          <%= link_to(active_storage_attachment_path(attachment),
                      remote: :true,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-outline-danger') do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <embed type="application/pdf" src="<%=rails_blob_path(attachment, disposition: :inline)%>" style="width:100%;height:100vh;">
      </div>
    </div>
  <% end %>
</div>
<br/>
<br/>
