<h1>Viewing Request</h1>
<br/>
<div>
  <!-- submit function -->
  <% partof = current_account.id == @request.account_id || current_account.id == @request.requested_for_id %>
  <% if partof %>
    <%= form_for(@request, method: :put, html: {
          id: "submit-form",
          style: 'display: hidden;'
      }) do |form| %>
      <%= form.hidden_field :submitted, value: true %>
      <%= form.hidden_field :submitted_at, value: DateTime.now %>
    <% end %>
  <% end %>
  <!-- end submit function -->
  <!-- approve function -->
  <% approver = current_account.in_group?('approver') %>
  <% if approver %>
    <%= form_for(@request, method: :put, html: {
          id: "approve-form",
      }) do |form| %>
      <%= form.hidden_field :approved, value: true %>
      <%= form.hidden_field :approved_by_id, value: current_account.id %>
      <%= form.hidden_field :date_approved, value: DateTime.now %>
    <% end %>
  <% end %>
  <!-- end approve function -->
  <div class="btn-group gap-2 d-flex">
    <%= link_to(requests_path,
                class: 'btn btn-outline-secondary',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'title': 'Go back') do %>
      <i class="fa-solid fa-angle-left"></i>
    <% end %>
    <% if partof %>
      <%= render 'submit' %>
    <% end %>
    <% if approver && @request.submitted? %>
      <%= render 'approve'%>
    <% end %>
    <%= link_to(edit_request_path(@request),
                class: 'btn btn-outline-warning',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'title': 'Edit Request') do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <%= link_to(@request,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-outline-danger',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'title': 'Delete Request') do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :status %>
          </label>
        </strong>
        <%= render 'status', request: @request %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong><label><%= Request.human_attribute_name :identifier %></label></strong>
        <%= text_field_tag :identifier, @request.identifier.upcase, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong><label><%= Request.human_attribute_name :account_id %></label></strong>
        <%= text_field_tag :account_id, @request.account, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :requested_for_id %>
          </label>
        </strong>
        <%= text_field_tag :requested_for_id, @request.requested_for, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :vendor %>
          </label>
        </strong>
        <%= text_field_tag :vendor, @request.vendor, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :project_id %>
          </label>
        </strong>
        <%= text_field_tag :project_id, @request.project, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :work_breakdown_structure %>
          </label>
        </strong>
        <%= text_field_tag :work_breakdown_structure, @request.work_breakdown_structure, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :payment_method_id %>
          </label>
        </strong>
        <%= text_field_tag :payment_method_id, @request.payment_method, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :shipping_charges_paid_to %>
          </label>
        </strong>
        <%= text_field_tag :shipping_charges_paid_to, shipping_charges[@request.shipping_charges_paid_to], disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :shipping_cost %>
          </label>
        </strong>
        <%= text_field_tag :shipping_cost, (number_to_currency @request.shipping_cost), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :sales_tax %>
          </label>
        </strong>
        <%= text_field_tag :sales_tax, (number_to_currency @request.sales_tax), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :import_tax %>
          </label>
        </strong>
        <%= text_field_tag :import_tax, (number_to_currency @request.import_tax), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :surcharge %>
          </label>
        </strong>
        <%= text_field_tag :surcharge, (number_to_currency @request.surcharge), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :notes %>
          </label>
        </strong>
        <%= text_area_tag :notes, @request.notes, disabled: true, class: 'form-control', rows: 3 %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :order_number %>
          </label>
        </strong>
        <%= text_field_tag :order_number, @request.order_number, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :date_ordered %>
          </label>
        </strong>
        <%= text_field_tag :date_ordered, (I18n.l @request.date_ordered.to_date if @request.date_ordered), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :approved_by_id %>
          </label>
        </strong>
        <%= text_field_tag :approved_by_id, @request.approved_by, disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :date_approved %>
          </label>
        </strong>
        <%= text_field_tag :date_approved, (I18n.l @request.date_approved.to_date if @request.date_approved), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :subtotal %>
          </label>
        </strong>
        <%= text_field_tag :subtotal, (number_to_currency @request.subtotal), disabled: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <strong>
          <label>
            <%= Request.human_attribute_name :total %>
          </label>
        </strong>
        <%= text_field_tag :total, (number_to_currency @request.total), disabled: true, class: 'form-control' %>
      </div>
    </div>
  </div>
  <br/>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1"><label>#</label></th>
          <th class="col-md-3"><label><%= Item.human_attribute_name :description %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :vendor_reference %></label></th>
          <th class="col-md-1"><label><%= Item.human_attribute_name :quantity %></label></th>
          <th class="col-md-1"><label><%= Item.human_attribute_name :price %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :total %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :received_by %></label></th>
          <th class="col-md-1">
            <% if @request.ordered? %>
              <%= form_for(@request, method: :put) do |form| %>
                <div class="d-grid gap-2">
                  <% if @request.received_or_returned? %>
                    <%= form.hidden_field :received, value: false %>
                    <%= form.hidden_field :received_by_id, value: nil %>
                    <%= form.hidden_field :date_received, value: nil %>
                    <%= form.button(class: 'btn btn-outline-secondary',
                                    data: { confirm: 'Are you sure?' },
                                    'data-bs-toggle': 'tooltip',
                                    'data-bs-placement': 'top',
                                    'title': 'Mark All Items not Received') do %>
                      <i class="fa-solid fa-box-open"></i>
                    <% end %>
                  <% else %>
                    <%= form.hidden_field :received, value: true %>
                    <%= form.hidden_field :received_by_id, value: current_account.id %>
                    <%= form.hidden_field :date_received, value: DateTime.now %>
                    <%= form.button(class: 'btn btn-outline-secondary',
                                    data: { confirm: 'Are you sure?' },
                                    'data-bs-toggle': 'tooltip',
                                    'data-bs-placement': 'top',
                                    'title': 'Mark All Items Received') do %>
                      <i class="fa-solid fa-box"></i>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <%end %>
          </th>
        </tr>
      </thead>
      <tbody id="items">
        <% @request.items.reverse.each_with_index do |item, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= item.description %>
            </td>
            <td>
              <%= item.vendor_reference %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= number_to_currency(item.price) %>
            </td>
            <td>
              <% if item.refund_value < 0 %>
                <%= number_to_currency(item.total) %>
                (<span style="color: red;"><%= number_to_currency(item.refund_value) %></span>)
              <% else %>
                <%= number_to_currency(item.total) %>
              <% end %>
            </td>
            <td>
              <% if item.received_by %>
                <div data-bs-toggle=tooltip data-bs-placement=top
                data-bs-html=true 
                title='Received at<br/><%= I18n.l item.received_at if item.received_at %>'>
                  <center><%= item.received_by.initials %></center>
                </div>
              <% end %>
            </td>
            <td style="text-align: right;">
              <div class="btn-group gap-2 d-flex">
                <% if @request.ordered? %>
                  <%= render 'return', item: item %>
                  <%= render 'receive', item: item %>
                <%end %>
                <% if item.link? %>
                  <%= link_to(item.link,
                              class: 'btn btn-outline-secondary',
                              target: "_blank",
                              'data-bs-toggle': 'tooltip',
                              'data-bs-placement': 'top',
                              'title': 'Open Link to Item in New Tab') do %>
                    <i class="fa-solid fa-link"></i>
                  <% end %>
                <% end %>
              </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% @request.attachment.each do |attachment| %>
    <div id="<%= dom_id attachment %>">
      <div class="row attachment">
        <div class="col">
          <%= link_to attachment.filename, rails_blob_path(attachment, disposition: :attachment) %>
        </div>
        <div class="col" style="text-align: right">
          <%= link_to(active_storage_attachment_path(attachment),
                      remote: :true,
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-outline-danger') do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
      <div class="row">
        <embed type="application/pdf" src="<%=rails_blob_path(attachment, disposition: :inline)%>" style="width:100%;height:100vh;">
      </div>
    </div>
  <% end %>
</div>
<br/>
<br/>
