<%= form_with(model: work_breakdown_structure) do |form| %>
  <div class="btn-group gap-2 d-flex">
    <%= link_to 'Back', work_breakdown_structures_path, class: 'btn btn-outline-secondary' %>
    <% if !form.object.new_record? %>
      <%= link_to 'View', form.object, class: 'btn btn-outline-info' %>
    <% end %>
    <%= form.submit('Save', class: 'btn btn-outline-primary') %>
  </div>
  <br/>
  <% if work_breakdown_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work_breakdown_structure.errors.count, "error") %> prohibited this work_breakdown_structure from being saved:</h2>
      <ul>
        <% work_breakdown_structure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
<% end %>
