<h1>Work Breakdown Structures</h1>
<br/>
<div class="d-grid gap-2">
  <%= link_to 'New', new_work_breakdown_structure_path, class: 'btn btn-primary text-light' %>
</div>
<br/>
<div class="container mt-3">
  <div class="row g-2">
    <% @work_breakdown_structures.each do |work_breakdown_structure| %>
      <div class="col-sm-6">
        <div class="card mb-2">
          <div class="card-header">
            <div class="btn-group d-flex">
              <%= link_to 'View', work_breakdown_structure, class: 'btn btn-outline-info' %>
              <%= link_to 'Edit', edit_work_breakdown_structure_path(work_breakdown_structure), class: 'btn btn-outline-warning' %>
              <%= link_to 'Destroy', work_breakdown_structure, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
            </div>
          </div>
          <div class="card-body">
            <div class="card-footer bg-transparent">
              <%= work_breakdown_structure.title %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
