<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <div class="form-floating">
      <%= form.text_field :title, class: "form-control" %>
      <%= form.label :title %>
    </div>
  </div>
  <div class="mb-3">
    <div class="form-floating">
      <%= form.number_field :identifier, class: "form-control", step: 1, min: 0 %>
      <%= form.label :identifier %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
