<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1"><label>#</label></th>
          <th class="col-md-4"><label><%= Item.human_attribute_name :description %></label></th>
          <th class="col-md-3"><label><%= Item.human_attribute_name :vendor_reference %></label></th>
          <th class="col-md-2"><label><%= Item.human_attribute_name :quantity %></label></th>
          <th class="col-md-3"><label><%= Item.human_attribute_name :price %></label></th>
          <th class="col-md-3"><label><%= Item.human_attribute_name :total %></label></th>
        </tr>
      </thead>
      <tbody id="items">
        <% request.items.reverse.each_with_index do |item, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= item.description %>
            </td>
            <td>
              <%= item.vendor_reference %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= number_to_currency(item.price) %>
            </td>
            <td>
              <%= number_to_currency(item.total) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>