<!DOCTYPE html>
<html>
  <head>
    <title>Purchasing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= render 'application/favicon' %>
    <script>
      window.onload = function() {
          var isUnsupported = (window.navigator.userAgent.indexOf("Edg") != -1) ||
                              (window.navigator.userAgent.indexOf("IE") != -1) ||
                              (window.navigator.userAgent.indexOf("Trident") != -1)
          if(isUnsupported && window.location.pathname != "/pages/browsers") {
            window.location.href = "<%= pages_browsers_url %>";
          }
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to "Requests", requests_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Projects', projects_path, class: 'dropdown-item' %></li>
                <li><%= link_to 'Payment methods', payment_methods_path, class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <% if current_account %>
                <%= link_to "Log out", destroy_account_session_path, method: :delete, class: 'nav-link' %>
              <% else %>
                <%= link_to "Log In", account_session_path, class: 'nav-link' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      <% if notice %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
